*{
    margin: 0;
    padding: 0;
}
.register{
    width: 500px;
    margin: 0 auto;
}
.reg-body{
    background: rgb(4,199,250);
background: linear-gradient(184deg, rgba(4,199,250,1) 0%, rgba(138,31,167,1) 51%);
font-family: cursive;
 }
.colorregister{
    background-color: rgba(12,12,96,1);
}
/* .table.edu{
    display: flex;
    justify-content: center;
} */
 .headcontainer_log{
    margin-left: 300px;
 }
 .headcontainer_reg{
    margin-left: 380px;
 }
 .colortittle{
    color:rgb(255, 148, 8);
    text-shadow:2px 2px #fc0000;
 }
h5{
    width: 20%;
}
.view_body{
    font-family: cursive;
}
.resume_body{
    background-color: rgb(195, 26, 241);
    font-family: math;
}
.view_body button{
    background-color: rgb(125, 6, 158);
}
.summitbtn{
    background-color:black;
}
.summitbtn:hover{
    background-color: #15bdff;
    color: white;
}
.template{
    background-color:#163853;
}
.templatetext{
    color: #163853;
    
}